<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="/detail.css">
</head>
<body>
    <h1 class="logo">&lt;/DevLogs&gt;</h1>
    <div class="container">
            <h2 class="title">Title:<%=userDetail.Title%></h2>
            <pre><%= userDetail.Content %></pre>
    </div>
</body>
</html>

