<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/home.css">
  <link rel="icon" type="image/png" sizes="32x32" href="logo.png">
  <script>
  </script>
</head>
<body>
  <div class="button-container">
    <h1>&lt;/DevLogs&gt;</h1>
    <p>Writing is like NASA's Voyager—each word is a message launched </p>
    <p>into the vast expanse of thought,</p>
    <p>uncovering new insights and leaving a legacy that travels beyond boundaries...</p>
    <button class="signUp" onclick="redirectToSignup()">SignUp</button>
    <button class="logIn" onclick="redirectTologin()">logIN</button>
  </div>
  <script src="/logs.js"></script>
</body>
</html>
