<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="username" name="username" class="w-username"><br><br>
        <textarea placeholder="Write content" name="content" class="w-content"></textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>