<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addNewLog</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>&lt;/DevLogs&gt;</h1>
    <div class="container">

        <h1>PushLog</h1>
        <form method="Post" action="/logs">

            <label for="username">Confirm Username</label>
            <input type="text" id="username" name="conUsername" placeholder=" Your username" required>

            <label for="password">confirm Password</label>
            <input type="password" id="password" name="conPassword" placeholder="Your password" required>

            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Title of the log">

            <label for="description">Description </label>
            <textarea type="text" name="description" id="description" placeholder="Description of the log" rows="4"></textarea>

            <label for="content">Log Content</label>
            <textarea type="text" name="content" id="content" placeholder="Content of the log" rows="25"></textarea>

            <div class="buttons">
                <button type="button" class="previous-btn" onclick="redirectToLogs()">Previous</button>
                <button type="submit" class="submit-btn"  onclick="return confirm('Confirm Submission')"> Submit </button>
                
            </div>
        </form>
    </div>
    <script src="/logs.js"></script>
</body>
</html>