<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/welcome.css">
</head>
<body>
    <h1>&lt;/DevLogs&gt;</h1>
    <div class="container">
        <form method="get" action="/logs">
            <h1>welcome! to the family</h1>
            <p>Where minds take flight.</p>
            <p> Share advanced coding insights, engineer innovation, and chart the uncharted in the vast skies of technology.</p>
            <button type="submit">Continue</button>
    
        </form>
    </div>
</body>
</html>